params {

  samples = false
  asisi_file = false
  mapq_thresh = 30

  outdir = "results"

  help = false

  container = "ubuntu:18.04"

  python_container = "quay.io/cristinag/anova-ko:1.0.0"

  config = "conf/standard.config"

  cpus = 1
  memory = 2.GB
  time = 8.h

  max_memory = 8.GB
  max_cpus = 4
  max_time = 8.h

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? "retry" : "finish" }
  maxErrors = 3
  maxRetries = 3

  maxForks = 200
  queueSize = 200
  executor = false

}

profiles {

  standard { includeConfig params.config }
  local { includeConfig "conf/local.config" }
  test_ci { includeConfig "conf/test_ci.config" }

}

includeConfig "conf/resources.config"

process {

  container = params.container

  withLabel: python {
    container = params.python_container
  }

}

executor {

    name = params.executor
    queueSize = params.queueSize

}

manifest {

  name = "indu-c-q-nf"
  author = "Cristina Guijarro-Clarke"
  homePage = "https://github.com/CristiGuijarro/indu-c-q-nf"
  description = "Workflow to process pre-processed INDUCE-seq data"
  mainScript = "main.nf"
  nextflowVersion = ">=22.10.7"
  version = "1.0.0"

}
